:root {
    --main-error-color: #dc3545
}


body {
    background: #fdfdfd;
}

/* for class Header */
.nav-link{
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
}

.card-img-height{
    height: 300px;
    object-fit: cover;
}

/*for class LoginForm */
.form-group{
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.btn-group{
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}

.btn-light-right{
    font-size: 14px;
    font-weight: 600; 
    color: #3564dc;
}

.btn-light-left{
    font-size: 14px;
    font-weight: 600; 
    color: #3564dc;
}

.invalid-feedback{
   display: block; 
}

button.btn-in-form{
    margin-top: 20px;
}

input.invalid{
    border-color: var(--main-error-color); 
}

/*for class Genres */
button.btn-outline-dark{
    margin-top: 35px;
}

